# --- API & Web Framework ---
fastapi
uvicorn
pydantic-settings[dotenv]

# --- Machine Learning & NLP ---
sentence-transformers
pandas
scikit-learn

# --- Vector Database & LLM Integration ---
chromadb
langchain-community
langchain-text-splitters

# --- Document Processing ---
gdown
pymupdf4llm

# --- Relational Database ---
mysql-connector-python